.main{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
	background: #19091f;
	background-size: cover;
	box-sizing: border-box;
}

.header{
	position: fixed;
	top: 0px;
	width: 100%;
	background: #824968;
	z-index: 1;
	box-shadow: 0px 1px 4px 0px #d0bebe;
	filter: contrast(122%);
	cursor:pointer;
	/*display: block;*/
}

.lower-header{

}

.bar{
	margin-left: 95px;
	position: relative;
}

.user{
	position: relative;
	width: 127px;
	height: 60px;
	float: right;
	margin-right: 100px;
	background: #6d3753;
	outline: 1px solid #ffffff70;
	color: white;
	text-align: center;
	line-height: 52px;
	font-size: 20px;
	display: block;
}

.options{
	width: 100px;
	height: 60px;
	float: left;
	margin-right: 1px;
	color: #fbfbfb;
	text-align: center;
	line-height: 58px;
	font-size: 22px;
	font-weight: bold;
	letter-spacing: 3px;
	line-break: unset;
	outline: 1px solid #ffffff47;
	display: block;
}

.bar > div:hover{
	background: #ae598745;
	filter: contrast(122%);
}

.button{
	position: fixed;
	top: 2px;
	left: 2px;
	width: 50px;
	height: 50px;
	background: #af82bd57;
	display: none;
	z-index: 2;
	border-radius: 28px;
	cursor: pointer;
	box-shadow: 0px 0px 7px 2px white;
}

.block-text{
	margin-top: 12px;
	line-height: 12px;
	text-align: center;
	color: white;
	letter-spacing: 2px;
	text-shadow: 1px 1px 1px black;
	font-size: 13.5px;
}

.button:hover{
	background: #776793;
}


@media screen and (max-width: 829px){

	.header{
		position: absolute;
		top: 0px;
		width: 0px;
		height: 100%;
		background: #673751;
		z-index: 4;
		box-shadow: 0px 1px 4px 0px #d0bebe;
		filter: contrast(122%);
		cursor: pointer;
		transition:all 1s ease-in-out;
		display:block;
	}

	.lower-header {
		width: 100%;
		height: 60px;
		background: #52365fba;
		z-index: 3;
		position: absolute;
		top: 159px;
		display: block;
	}

	.bar{
		margin-left: 0px;
		top: 273px;
		display: none;
	}

	.options{
		width: 100%;
		height: 60px;
		margin-right: 1px;
		margin-top: 3px;
		color: #fbfbfb;
		text-align: center;
		line-height: 58px;
		font-size: 22px;
		font-weight: bold;
		letter-spacing: 3px;
		line-break: unset;
		outline: 1px solid #ffffff47;
		/*display: none;*/
		background: #b7829d70;
	}

	.options:hover{
		background: #5d414f70;
	}

	.button{
		display: block;
		z-index: 4;
	}

	.user{
		position: relative;
		top: 370px;
	}
}
