body{
	background: #2b1a1c;
}

.wrapper{
	width: 1280px;
	height: 720px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -640px;
	margin-top: -360px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: 0px 1px 13px #040303;
}
.header{
	width: 100%;
	height: 60px;
	background: #674d5542;
	position: absolute;
	box-shadow: 3px -1px 6px 0px #f1f1f1;
	/* background-color: #ffffff17; */
}

.header > p {
	width: 300px;
	text-align: center;
	height: 60px;
	color: #d6c9c9;
	font-weight: bold;
	font-size: 39px;
	padding-top: 7px;
	background-size: cover;
	position: relative;
	bottom: 63%;
	left: 16px;
	letter-spacing: 3px;
	z-index: 3;
}

.toggle{
	width: 317px;
	text-align: center;
	height: 40px;
	color: #c7a0a0;
	font-weight: bold;
	font-size: 31px;
	padding-top: 7px;
	background-size: cover;
	position: relative;
	left: 75%;
	letter-spacing: 4px;
	z-index: 3;
	bottom: 280px;
	border: 1px solid #a7949466;
	cursor: pointer;
	background: #292328a8;
}

 .toggle:hover{
	 background: #292328d4;
 	 box-shadow: 1px 1px 9px black;
	 transition: 1s;
 }

.select{
	position: absolute;
	top: 0px;
	width: 330px;
	height: 720px;
	background: #382628c9;
	z-index: 1;
}
.hero{
	width: 770px;
	height: 643px;
	position: relative;
	left: 39%;
	top: 50%;
	margin-left: -164px;
	margin-top: -360px;
	background-repeat: no-repeat;
	background-size: contain;
	filter: drop-shadow(4px 4px 3px black);

}

.hero:hover{
	filter: drop-shadow(4px 4px 3px #2d0c0f);
}



.preview{
	width: 300px;
	height: 100px;
	border: 1px solid #ffadfc29;
	border-radius: 8px;
	margin: 35px 0px 0px 14px;
	cursor: pointer;
	position: relative;
	top: 10%;
	transition: all 350ms cubic-bezier(0, 0, 0.2, 1);
	transform: scale(1);
	background-color: #311b2a96;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	box-shadow: 1px 1px 14px #292638;
	filter: contrast(132%);
}


.preview:hover{
	border: 1px solid #dadcf9;
	cursor: pointer;
	box-shadow: 0px 0px 150px #000000;
	transition: all 300ms ease-in;
	transform: scale(1.1 );

}

.stats{
	position: absolute;
	top: 60px;
	left: 75%;
	z-index: 4;
	width: 320px;
	height: 0%;
	background: #25151b75;
	box-shadow: -2px 0px 7px #130e0e;
	transition: 1.5s;
	cursor: pointer;
	overflow: hidden;
}

.subground{
	margin: 38px 0px 0px 27px;
	width: 266px;
}

.small{
	margin-bottom: 30px;
}

.small >  span{
	color: #f0e1f5;
	font-size: 16pt;
	letter-spacing: 1.5px;
	text-shadow: 3px 1px 3px black;
}

.small >  div    {
	 background: #38181f;
	 margin-top: 10px;
}

.small > div > div{
	text-indent: 0.5em;
	color: white;
	font-size: 17px;
	padding: 2px 0px 2px 0px;
}


/*
.stats > div > div > div{
	background: #725b84;
}


.stats-health{
	background: #862f41 !important;
}
.stats-armor{
	background: #4f5bb9 !important;
}
.stats-mana{
	background: #4593a5 !important;
}
.stats-attack{
	background: #563073 !important;
}
.stats-critical{
	background: #6d1733 !important;
}


.imp{

	width: 300px;
	margin: 0 auto;
}

.hide{
	width: 300px;
	height: 50px;
	background: #c2a1da;
	margin-bottom: 10px;
	color: #4593a5;
	text-align: center;
	font-size: xx-large;

}

.block{
	width:300px;
	height: 0%;
	background: #7d5b92;
	transition: 2s;
	position:fixed;
	z-index: 1;
	top:250px;
	left:250px;

}

.crossing{
	width:50px;
	height: 50px;
	background: black;
}

/*
.body{
	width: 1280px;
	height: 720px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -640px;
	margin-top: -360px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: 0px 1px 13px #040303;
}

.clouds{
	width: 486px;
	height: 254px;
	background: no-repeat;
	z-index: 3;
	position: absolute;
	left: 0px;
	top: 0px;
}

.one{
	*margin-left: 21%;
	*margin-top: 13%;
}

.two{
	*margin-top: 0%;
	*margin-left: 57%;
}

.three{
	*margin-top: 15%;
	*margin-left: 65%;
}

.four{
	*margin-top: 3%;
	*margin-left: 14%;
}
/*