#widget{
	position: fixed;
	left: 120px;
	top: 40px;
	width: 220px;
	height: 400px;
	background: #006EFF;
}

#widget > input{
	width: 100%;
	height: 24px;
	padding: 10px;
	box-sizing: border-box;
}

.line {
	height: 20px;
	background: #dea348;
	position: relative;
	padding: 10px;
}


.box {
	height: 20px;
	background:  rgb(166, 113, 29);
	float: right;
	padding: 10px;
	position: inherit;
}



#wrap{
	width: 960px;
	border: 1px solid #cccccc;
	margin: 0 auto;
	height: 1000px;
	background:  #2d445a;
}

#hi{
	margin-top: 56px;
	height: 100px;
	border: 1px solid rgba(30, 90, 193, 0.1);
	background:  #142b42;
}

.faunt{
	font-size: 35px;
	text-align: center;
	letter-spacing: 4px;
	font-family: Brushstroke, fantasy;
	color: #bbaafb;
}


#middle{
	height: 500px;
	margin-top: 176px;
}
	#small{
		height: 329px;
		width: 665px;
		margin: auto;
		border: 1px solid rgba(44, 72, 165, 0.74);
		background: #135ca5;
		border-radius: 4px;
		box-shadow: 2px 3px 11px 0px rgb(14, 49, 84)
	}

#result {
	width: 301px;
	height: 50px;
	border: 1px solid rgba(95, 77, 134, 0.81);
	background:#6997c4;
	border-radius: 2px;
}

.undo{
	margin: 66px 0px 0px -3px;
	width: 672px;
}

.val{



}

textarea{
	overflow: hidden;
	resize: none;
	font-size: 13px;
	background: #6997c4;
	border: 1px solid rgba(134, 115, 181, 0.33);
	border-radius: 2px;
}



button{
	width: 205px;
	height: 44px;
	margin-left: 6px;
	background: rgb(167, 7, 7);
	border: 1px solid rgb(179, 39, 39);
	border-radius: 2px;
	font-size: x-large;
	letter-spacing: 3px;
	color: #a7a8a9;
	font-weight: 700;
	cursor: pointer;
}

.bet{
	width: 90px;
	height: 90px;
	background: lightgreen;
}






.hb{
	display: none;
}
.hbvisible{
	display: block;
}


















