body{
	background: #000;
}

#wrap{
	width: 1280px;
	height: 720px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -640px;
	margin-top: -360px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

	#header{
		width: 100%;
		height: 70px;
		background: #5c3c4bf2;
		position: absolute;
	}
		#header > p{
			color: #fff;
			font-weight: bold;
			font-size: 31px;
			padding: 16px 100px 16px;
			margin: 0px;
		}

	#content{
		width: 100%;
		height: 100%;
	}

		#list{
			top: 78px;
			position: absolute;
		}
			#list > div{
				width: 320px;
				height: 100px;
				margin: 9px 0px 9px;
				opacity: 0.5;
				overflow: hidden;
				cursor: pointer;
				border-top: 2px solid #ffffc4;
				border-bottom: 2px solid #ffffc4;
				box-shadow: 7px 1px 13px 0px #bfbfbf;
			}
				#list > div > div{
					top: -50%;
					left: -50%;
					width: 200%;
					height: 200%;
					background-repeat: no-repeat;
					background-position: top;
					background-size: cover;
					position: relative;
					margin-top: -20px;
				}

			.list-selected{
				opacity: 1.0 !important;
				cursor: default !important;
			}

			@keyframes fadeIn{
				0%{ opacity: 0.5 }
				100%{ opacity: 1.0 }
			}

			#list > div:hover{
				animation-name: fadeIn;
				animation-duration: 0.5s;
				opacity: 1.0;
			}
			.list-selected:hover{
				animation-duration: 0s !important;
			}

		#character{
			width: 890px;
			height: 720px;
			position: relative;
			left: 50%;
			top: 50%;
			margin-left: -250px;
			margin-top: -360px;
			background-repeat: no-repeat;
			background-size: contain;
		}

		#name{
			position: absolute;
			bottom: 39px;
			left: 50%;
			width: 360px;
			height: 44px;
			margin-left: -180px;
			background: linear-gradient(to right, rgba(0, 0, 0, 0.49) 0%,rgba(0, 0, 0, 0.05) 100%);
			border-top: 2px solid #fbe1fa;
			border-bottom: 2px solid #fbe1fa;
			border-left: 2px solid #fbe1fa;
			display: none;
		}
			#name > input{
				border: none;
				background: transparent;
				width: 100%;
				height: 100%;
				padding-left: 80px;
				box-sizing: border-box;
				font-size: 20px;
			}
				#name > input::placeholder{
					color: #fbe1fa;
					font-weight: bold;
				}
			#name > div{
				background: #a56681;
				width: 48px;
				height: 48px;
				top: -2px;
				left: -2px;
				position: absolute;
				transform: rotate(45deg);
			}
			#name > div > div{
				background: #fff;
				width: 20px;
				height: 20px;
				top: 13px;
				left: 13px;
				position: absolute;
				transform: rotate(-45deg);
			}

