.button{
	background: #dcdcdc;
	padding: 4px 12px 4px;
	margin: 4px;
	position: relative;
	float: left;
	font-weight: bold;
	color: #424242;
	cursor: pointer;
	user-select: none;
}
.image-wrap{
	width: 640px;
	height: 360px;
	overflow: hidden;
}
.index{

}