body{
	background: #201A29;
}


.calculator{
	position: fixed;
	width: 289px;
	top: 50%;
	left: 50%;
	margin-left: -60px;
	margin-top: -80px;
	background: #1d1325;
	box-shadow: 1px 1px 20px #100f0f;
}
	.calculator > input{
		position: relative;
		float: left;
		width: 100%;
		height: 52px;
		background: #170e1f;
		box-sizing: border-box;
		margin-top: 17px;
		border: 0px;
		padding: 4px 12px 4px;
		color: #af9e9e;
		font-size: 17pt;
	}
	.calculator > div{
		position: relative;
		float: left;
		width: 100%;
		left: 3px;
		margin-top: 27px;
		margin-bottom: 15px;
	}
		.calculator > div > div{
			position: relative;
			float: left;
			padding: 4px;
			cursor: pointer;
			width: 61px;
			height: 35px;
			text-align: center;
			line-height: 1.4;
			background: #2a1e33;
			font-size: 18pt;
			color: antiquewhite;
			border: 1px solid #252121;
		}
		.calculator > div > div:hover{
			background: #2f3563;
		}

	@keyframes zoom{
		0%{
			transform: scale( 0.2 );
			opacity: 1;
		}
		70%{
			transform: scale( 1 );
		}
		100%{
			opacity: 0;
		}
	}

	.calculator > span{
		position: absolute;
		left: 50%;
		top: 0;
		width: 60px;
		height: 60px;
		margin-left: -30px;
		margin-top: -64px;
		font-size: 22px;
		text-align: center;
		line-height: 2.6;
		background: #1752ff3b;
		z-index: 2;
		opacity: 0;
	}
	.calculator-effect{
		animation-name: zoom;
		animation-duration: 1s;
		animation-delay: 0s;
	}

	.block{

		border:1px solid black;
		height: 30px;
		width: 100px;
	}