body{

	background: #1f1d38;

}

.boss{

	width:100%;

}

.price{
	float: left;
	vertical-align: top;
	width: 258px;
	height: 800px;
	background: #40194c;
}



.window{
	width: 600px;
	height: 750px;
	overflow-y: auto;
	background: #282363;
	border: 1px solid #2a1e35;
}

.line{
	position: relative;
	word-break: break-all;
	background: #423d84;
	/* box-shadow: 20px -6px 8px 0px #625c96; */
	min-height: 40px;
	border: 1px solid #33242417;
	margin: 17px 30px 17px 30px;
	border-radius: 42px;
	letter-spacing: 1px;
	color: white;
	padding: 6px 0px 0px 6px;
}

.leader{
	width: 960px;
	margin: 0 auto;
	margin-top: 30px;
}


.area{
	margin: 20px 0px 0px;
	width: 605px;
	height: 46px;
	max-height: 100px;
	box-sizing: border-box;
	direction: ltr;
	display: block;
	line-height: 1.5;
	padding: 5px;
	/* border-radius: 43px; */
	border: 1px solid #342f72;
	font: 13px Tahoma, cursive;
	background: #342F72;
	color: white;
	letter-spacing: 1px;
	margin-top: 20px;
	float: left;
	position: relative;
	bottom: 19px;
	overflow: overlay;
}

.pushbutton{
	float: left;
	position: relative;
	left: 3px;
	top: 3px;
	height: 45px;
	background: #4e283d;
	border: 2px solid #4e283d;
	border-radius: 35px;
}




 ::-webkit-scrollbar {
	 width: 20px;
 }


::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}


::-webkit-scrollbar-thumb {
	background: #c1b6ff52;
	border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
	background: #a8a5bb5e;
}





div.line:nth-child(even){

	background: #c1b6ff52;

}
