.image-wrap {
	overflow: hidden;
	width: 30%;
	margin: 0 auto;
	height: 326px;
	top: 40px;
	position: relative;
}

#image-list{
	background: #006eff1f;
	width: 100%;
}

#parent{
	width: 100%;
	background: #2f3563;
}

#point{
	margin: 0 auto;
	width: 50%;
}

#image{
	padding-right: 2px;
	width:100%;
}

#image-list > div{
	width: 200px;
	height: 200px;
	vertical-align: top;
	margin: 0px 4px 4px 0px;
	position: relative;
	float: left;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#wrap{
	width:	60%;
	margin: 55px auto 0px auto;
	display: -webkit-box;
}

.but1{
	margin-right: 7px;
	width: 86px;
	height: 27px;
	background: #2f3563
}

.but2{
	margin-left: 7px;
	width: 86px;
	height: 27px;
	background: #2f3563
}

.button{
	width: 70px;
	background: #30295d;
	color: #ccc4d4;
	height: 21px;
	border-color: #30295d;
	box-sizing: content-box;
	box-shadow: 0px 0px 0px #30295d;
	outline: auto;
	letter-spacing: 5px;
	cursor: -webkit-grab;
}