body{
	background:#2b1a1c;
}

#pers{
	width: 770px;
	height: 643px;
	position: relative;
	left: 39%;
	top: 50%;
	margin-left: -250px;
	margin-top: -360px;
	background-repeat: no-repeat;
	background-size: contain;
}

#imperator{
	width: 1280px;
	height: 720px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -640px;
	margin-top: -360px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: 0px 1px 13px #040303;
}

#header{
	width: 100%;
	height: 60px;
	background: #674d5542;
	position: absolute;
}

#header > p{
	width: 300px;
	text-align: center;
	height: 60px;
	color: #d6c9c9;
	font-weight: bold;
	font-size: 39px;
	padding-top: 7px;
	background-size: cover;
	position: relative;
	bottom: 63%;
	left: 16px;
	letter-spacing: 3px;
	z-index: 3;
}

#content{
	width: 100%;
	height: 100%;
	position: absolute;
}

#listing{
	position: absolute;
	top: 0px;
	width: 330px;
	height: 720px;
	background: #3826285e;
	z-index: 2;
}

#listing > div {
	width: 300px;
	height: 100px;
	border: 1px solid #ffadfc75;
	margin: 35px 0px 0px 14px;
	cursor: pointer;
	position: relative;
	top: 4%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
   transition: all 300ms ease-in;
	 transform: scale(1);

}

#listing > div:hover{

	box-shadow: 0px 0px 150px #000000;
	z-index: 1;
	-moz-transition: all 200ms ease-in;
	transform: scale(1.1 );

}
#listing > .list-select{
	border: 1px solid #cec100;
}

#descript{
	width: 350px;
	height: 655px;
	background: #000000;
	border: 2px solid #6b421a;
	position: absolute;
	box-shadow: -1px 0px 4px 2px #1d1d1aa8;
	top: 61px;
	right: 1px;
	bottom: 0%;
}

/*
#descript >  div > p{
	overflow: hidden;
	color: #cc894d;
	font-size: 18px;
	letter-spacing: 1px;
	word-wrap: break-word;
}
*/

p.head{
	text-align: center;
	font-size: xx-large!important;
	color: #794f29!important;
	letter-spacing: 3px!important;
	text-shadow: 1px 1px 0px #deaa76;
	background: #7365653b;
}


#descript > div{
	display: none;
}
#descript > .list-select{
	display: block;
}

  span{
	padding-left: 52px;
	overflow: hidden;
	color: #cc894d;
	font-size: 18px;
	letter-spacing: 1px;
	word-wrap: break-word;
}

#stats > div{

}
#stats > div > div{

}

.power1{
	transform: skewX(46deg);
	/*background: #710068;*/
	width: 125px;
	height: 13px;
	position: relative;
	bottom: 16px;
	left: 153px;
}

.stamina1{
	transform: skewX(46deg);
	background: #005b71;
	width: 107px;
	height: 13px;
	position: relative;
	bottom: 16px;
	left: 176px;
}

.armor1{
	transform: skewX(46deg);
	background: #635e62;
	width: 93px;
	height: 13px;
	position: relative;
	bottom: 16px;
	left: 194px;
}

.attack1{
	transform: skewX(46deg);
	background: #8c5003;
	width: 109px;
	height: 13px;
	position: relative;
	bottom: 16px;
	left: 183px;
}

.damage1{
	transform: skewX(46deg);
	background: #a70000;
	width: 150px;
	height: 13px;
	position: relative;
	bottom: 16px;
	left: 175px;
}

.health1{
	transform: skewX(46deg);
	background: #4a0505;
	width: 145px;
	height: 13px;
	position: relative;
	bottom: 16px;
	left: 179px;
	border: 1px solid #901616c9;
}