body{
	background:#2b1a1c;

}

#imperator{
	width: 1280px;
	height: 720px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -640px;
	margin-top: -360px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: 0px 1px 13px #040303;
}

#header{
	width: 100%;
	height: 60px;
	background: palevioletred;
}

#header > p{
	width: 300px;
	text-align: center;
	height: 60px;
	color: white;
	font-size: 35px;
	padding-top: 7px;
}

#content{
	position: absolute;
	bottom: 0px;
	width: 330px;
	height: 720px;
	background: #382628a8;
}

#listing{
	position: absolute;
	top: 98px;
}


#listing > div {
	width: 300px;
	height: 100px;
	border: 1px solid #ffadfc75;
	margin: 35px 0px 0px 14px;
	cursor: pointer;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	-webkit-transition: all 300ms ease-in;
	-webkit-transform: scale(1);
}

#listing > div:hover{

	box-shadow: 0px 0px 150px #000000;
	z-index: 1;
	-moz-transition: all 200ms ease-in;
	transform: scale(1.1 );

}







/*
.list {
	background: #aabcd4;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	z-index: 15;
	transition: 0.7s Ease;
}
*/

/*
.list:hover{
   height: 0;
 }
*/


/*
#listing > div:hover{
   box-shadow: 4px 4px 50px rgba(103, 0, 255, 0.66);
   transition: 1s Ease;
}
*/

.list-select{
	opacity: 1.0 !important;
	cursor: default !important;

}

