body{
	background:#6f5060;
}

#header{
	height: 60px;
	background: #865c71;
	border-radius: 3px;
}

#lord{
	background: #b89fa2;
	width: 1280px;
	height: 720px;
	margin: 0 auto;
	margin-top: 62px;
	box-shadow: 1px 1px 10px black;
	border-radius: 5px;
}

#hero{
	background: #6f506038;
	width: 350px;
	height:  570px;
	margin: 48px 0px 0px 14px;
	border-radius: 6px;
	box-shadow: 1px 1px 8px #00000061;
	position: absolute;
}

.pers {
	width: 300px;
	height: 100px;
	background: #7c737d42;
	margin: 0 auto;
	margin-top: 35px;
	cursor: pointer;
}


.pers:hover{
	 background:red;
}


.list-selected{
	opacity: 1.0 !important;
	cursor: default !important;
}




#info{

	background: #6f506038;
	width: 350px;
	height:  570px;
	margin: 48px 14px 0px 0px;
	float: right;
	border-radius: 6px;
	box-shadow: 1px 1px 8px #00000061;

}

.cover{
	width: 326px;
	height: 550px;
	background: #7c737d42;
	margin: 0 auto;
	margin-top: 9px;
}

.stats{
	background: #6f506038;
	width: 350px;
	height:  570px;
	margin: 48px 14px 0px 0px;
	float: right;
	border-radius: 6px;
	box-shadow: 1px 1px 8px #00000061;
}

.sec{
	width: 350px;
	height: 570px;
	position: absolute;
	left: 37%;
	margin-top: 47px;
	margin-left: -32px;
}


.three{

	width: 350px;
	height: 564px;
	position: absolute;
	left: 56%;
	margin-top: 50px;
	background: #a28589
}
.three > div{
	display: none;
}
.text-selected{
	display: block !important;
	width: 350px;
	height: 570px;
	position: absolute;
	left: 50%;
	margin-top: 47px;
	margin-left: -32px;
}


.cross{
	width: 20px;
	height: 20px;
	border: 1px solid black;
	border-radius: 11px;
	position: absolute;
	left: 84%;
	text-align: center;
	margin-top: 16px;
	cursor: pointer;
}

























