body {
	width: 100%;
	height: 1080px;
	overflow: auto;
}

.main{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	}

.dof{
background: url(back/back7.jpg);
	position: fixed;
	left: -40px;
	top: -40px;
	right: -40px;
	bottom: -40px;
	filter: blur(4px) contrast(94%) brightness(100%);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
}

.header{
	position: fixed;
	top: 0px;
	left: 0px;
	height: 60px;
	width: 100%;
	background: #503b2585;
	box-shadow: 3px -1px 13px 0px #333025;
	border: 1px solid #4c4734;
}

.box{
	position: absolute;
	left: 9%;
	top: 18px;
}

.point{
	margin-right: 16px;
	float: left;
	text-align: center;
	color: #ffffffb5;
	font-size: 18.5px;
	vertical-align: middle;
	box-sizing: border-box;
	background-size: cover;
	text-transform: uppercase;
	letter-spacing: 0px;
	text-indent: -1px;
	display: block;
}


.point:hover{
	color: #ffffff;
	cursor: pointer;
	transition:0.5s;
	transform: scale(1.0 );
	text-shadow:1px 1px 1px #fdfdfd5e;
}

.title{
	position: absolute;
	width: 100%;
	min-height: 60px;
	background:#3a2125;
	text-align: center;
	color: #deded5;
	line-height: 54px;
	letter-spacing: 2px;
	font-size: 30px;
	font-weight: bold;
	text-shadow: -3px 1px 0px #482222;
}

.wrapper{
	position: fixed;
	top: 23%;
	left: 0px;
	width: 100%;
	height: 800px;
	background: #19262429;
	box-shadow: 0px 1px 12px 0px #74abbd47;
	overflow: auto;
}

.hero-panel{
	position: absolute;
	left: 7%;
	top: 11%;
}

.page{
	position: relative;
	float: left;
	margin: 0px 0px 8px 7px;
	cursor: pointer;
	border: 1px solid #598ca3;
	background: linear-gradient(#283c3d, #560505f0);
	overflow: hidden;
	box-shadow: 1px 1px 4px #080a0a;
}

.page:hover{
	transition:  all 500ms ease-in-out;
	transform: translate(-1px, -10px);
	filter:contrast(108%);

}

.preview{
	position: relative;
	bottom: 0px;
	width: 130px;
	height: 294px;
	background-position: top center;
	background-repeat: no-repeat;
}

.callme{
	position: absolute;
	bottom: 0%;
	left: 0px;
	right: 0px;
	background: #422c318f;
	text-align: center;
	line-height: 35px;
	letter-spacing: 4px;
	font-size: 23px;
	font-weight: bold;
	color: #d8cece;
	text-shadow: 3px 1px 1px black;
	/* box-shadow: 3px 1px 1px 0px #060606; */
}

.cross{
	position: relative;
	width: 100px;
	height: 100px;
	background: black;

}

.trial-panel{
	position: absolute;
	right: -40px;
	bottom: -180px;
	top: 0px;
	left: -40px;
	z-index: 3;
	display: none;
	background: linear-gradient(to top left, #255a61, #0a2f33, #000000);
}

.persona{
	position: absolute;
	top: 15%;
	left: 20%;
	width: 380px;
	height: 575px;
	border: 1px solid #7d6a12;
	margin: 0 auto;
	margin-bottom: 10px;
	background: #0f191b;
	background-repeat: no-repeat;
	display: block;
	z-index: 3;
	box-shadow: 0px 0px 6px 0px #464607;
}

.describe {
	bottom: 200px;
	left: 72%;
	width: 300px;
	height: 200px;
	border: 1px solid black;
	background: #a78196;
	display: block;
	float: right;
}

.cub-one{
	position: absolute;
	top: 335px;
	left: 151px;
	width: 80px;
	height: 80px;
	border: 1px solid black;
	background: #3a1c28;
	border-radius: 50px;
	z-index: 2;
}

.cub-two{
	position: absolute;
	top: 240px;
	left: 151px;
	width: 80px;
	height: 80px;
	border: 1px solid black;
	background: #3a1c28;
	border-radius: 50px;
	z-index: 2;
}

.cub-three{
	position: absolute;
	top: 131px;
	left: 151px;
	width: 80px;
	height: 80px;
	border: 1px solid black;
	background: #3a1c28;
	border-radius: 50px;
	z-index: 2;
}

.cub-four{
	position: absolute;
	top: 77px;
	left: 259px;
	width: 80px;
	height: 80px;
	border: 1px solid black;
	background: #3a1c28;
	border-radius: 50px;
	z-index: 2;
}

.switch{
	position: fixed;
	top: 2px;
	left: 2px;
	width: 50px;
	height: 50px;
	background: #af82bd57;
	display: none;
	z-index: 2;
	border-radius: 28px;
	cursor: pointer;
	box-shadow: 0px 0px 7px 2px white;
}



@media screen and (max-width: 870px){

	.header{
		position: fixed;
		top: 0px;
		left: 0px;
		width: 0px;
		height: 100%;
		background: #1f1102;
		box-shadow: 1px 1px 6px 0px #f1f1f1;
		transition:all 0.5s cubic-bezier(0.39, 0.74, 0.58, 1);
		z-index: 4;
		display: block;
	}

	.sub-header{
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 60px;
		background: #503b2585;
		box-shadow: 3px -1px 13px 0px #333025;
		border: 1px solid #4c4734;
		display: block;
	}

	.switch{
		display: block;
		z-index: 4;
	}

	.box{
		position: absolute;
		top: 140px;
		left: 0px;
		display: none;
		margin-left: -5px;
	}

	.point {
		height: 60px;
		width: 100%;
		outline: 1px solid #4a44448a;
		text-align: center;
		color: #e6ded4;
		font-size: 22px;
		line-height: 58px;
		margin-top: 4px;
	}
}






/* url(back/b4.jpg);
background: linear-gradient(#230c0c, #401614);
#a0252a;
#531613;
 background: #2b2d5461;
 #26656b, #0e1d1f);

 : #8a4c46;
 #613430;
#652e37;

 #402424;
#6f5568;
	#693940;

 talants
abilities
weapons
look
skills

*/



