.parallax{
	position: absolute;
	overflow: hidden;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}
.parallax-layer{
	width: 486px;
	height: 254px;
	background: no-repeat;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 3;
}