body{

	background: #1b1e44;

}

div.cross{

	width: 25px;
	height: 25px;
	float: right;
	background: #291c42;
	position: relative;
	top: 11px;
	margin-right: 9px;
	cursor: pointer;

}

span.cross{

	padding-left: 9px;
	font-size: 20px;
	color: #3c6b6b;

}

.para{

	padding-top: 30px;
	color: aliceblue;
	text-align: center;
	font-size: 44px;

}

.show{

	width: 50%;
	height: 200px;
	margin: 0 auto;
	border: 1px solid black;
	background: #50537d;
	border-radius: 5px;
	box-shadow: 1px 1px 7px 3px #79739c;
	border-color: #50537d;

}





































/*
#boss{

	width:100%;

}

#medium{

	margin: 0 auto;
}

.plan{

	width: 50%;
	height: 300px;
	text-align: right;
	font-size: 32px;
	color: #630452;

}
*/